<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--property name="logdir" value="e:/temp/log"/-->
    <springProperty scope="context" name="logdir" source="logging.logdir"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %p (%file:%line\)- %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <appender name="svmLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logdir}/svm.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logdir}/svm-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <maxFileSize>10MB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>%d{dd HH:mm:ss} [%thread] %-5level - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
    <logger name="svm" level="DEBUG">
        <appender-ref ref="svmLog" />
    </logger>
</configuration>