* {
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body,
#app {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body {
    font-family: 'PingFang SC', "Helvetica Neue", Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
    color: #d8d9da;
}
a {
    text-decoration: none
}
h3 {
    margin: 15px 0;
}
.header {
    position: absolute;
	left: 64px;
	right: 0;
	top: 0;
	height: 50px;
	overflow: hidden;
    background-color: #000000;
    padding: 10px 40px;
}
.sidebar {
    background-color: #000000;
    box-shadow: 0 0 20px #000000;
    -webkit-box-shadow: 0 0 20px #000000;
}
.content-wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.content-box {
    position: absolute;
	left: 64px;
	right: 0;
	top: 50px;
	bottom: 0;
	overflow: hidden;
    background-color: #161719;
}
.content {
	position: absolute;
	left: 0;
	right: 0;
	top: 4px;
	bottom: 2px;
	width: auto;
	padding: 10px 40px;
}
.collapse-btn {
    color: #409eff;
}
.message-title {
    color: #20a0ff;
}
.collapse-btn:hover {
    background: rgb(40,52,70);
}
.breadcrumb-box {
    background: rgba(0, 0, 0, 0) linear-gradient(90deg, #292a2d, #000) repeat scroll 0 0;
    border-bottom: 1px solid #343436;
    box-shadow: 0 -4px 14px #1f1f20 inset;
}

.container {
    padding: 10px 40px;
}
.breadcrumb-box {
    margin: 2px;
    padding: 10px;
}
.header-box {
    margin-bottom: 20px;
}
.footer-box {
    margin-top: 20px;
}
.pagination {
    margin-top: 20px;
}
.right {
    text-align: right;
}
.edit_group_title {
    padding-bottom: 10px;
    padding-top: 20px;
    font-weight: bold;
    font-size: 14px;
}
.edit_group_title_first {
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
}
.label_emphasis {
    color: #5794f2;
}
.page_header_icon {
}
.el-breadcrumb__inner span {
    font-size: 14px;
    font-weight: bold;
    color: #909399;
}
.el-breadcrumb__inner a span {
    font-size: 14px;
    font-weight: bold;
    color: #c0c4cc;
}
