.login-wrap {
    background: #324157;
}
.header {
    background-color: #242f42;
}
.message-title {
    color: #20a0ff;
}
.collapse-btn:hover {
    background: rgb(40,52,70);
}
.el-menu {
    background-color: #324157;
}
.el-menu-item {
    color:#bfcbd9;
 }
 .el-menu-item.is-active {
    background-color: #242f42;
    color: #20a0ff;
}
.el-menu-item:hover {
    background-color: #242f42;
 }
 .el-submenu__title:hover {
    background-color: #242f42;
 }
.el-submenu__title {
    color:#bfcbd9;
}
.content-box {
    background: #f0f0f0;
}
.container {
    background: #fff;
    border: 1px solid #ddd;
}
.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
}
.avatar-uploader .el-upload:hover {
    border-color: #409EFF;
}
.avatar-uploader .avatar-uploader-icon {
    color: #8c939d;
}
.el-table tr:hover {
    background: #f6faff;
}