@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1571795779924'); /* IE9 */
  src: url('../fonts/iconfont.eot?t=1571795779924#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1571795779924') format('woff'),
  url('../fonts/iconfont.ttf?t=1571795779924') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
}

[class^="icon"], [class*="icon"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'iconfont' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.el-submenu > .el-submenu__title [class^="icon"] {
    font-size: 28px;
    margin: 0;
    text-align: center;
    vertical-align: middle;
}
.el-menu-item [class^="icon"] {
    font-size: 22px;
    margin-right: 5px;
    text-align: center;
    vertical-align: middle;
}
.page_header_icon [class^="icon"] {
    font-size: 24px;
    margin-right: 5px;
    text-align: center;
    vertical-align: middle;
}
.el-button [class^="icon"] {
    font-size: 18px;
}

/* 每次更新替换下面内容 */

.icon-group:before {
  content: "\e7d9";
}

.icon-nav:before {
  content: "\e61f";
}

.icon-tag:before {
  content: "\e649";
}

.icon-form:before {
  content: "\e665";
}

.icon-logout:before {
  content: "\e89a";
}

.icon-save:before {
  content: "\e621";
}

.icon-fullscreen-on:before {
  content: "\e6e0";
}

.icon-fullscreen-off:before {
  content: "\e66a";
}

.icon-download:before {
  content: "\e77a";
}

.icon-upload:before {
  content: "\e77b";
}

.icon-flow-h:before {
  content: "\e77c";
}

.icon-table:before {
  content: "\e780";
}

.icon-security:before {
  content: "\e789";
}

.icon-sample:before {
  content: "\e78c";
}

.icon-user-setting:before {
  content: "\e618";
}

.icon-user-permission:before {
  content: "\e655";
}

.icon-setting:before {
  content: "\eb8d";
}

.icon-user:before {
  content: "\e7ae";
}

.icon-lock:before {
  content: "\e7c9";
}

.icon-flow-v:before {
  content: "\e63e";
}