<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="svm.security.dao.RolePermissionMapper">

    <select id="queryRolesByPermissionId" parameterType="java.lang.String" resultType="java.lang.String">
        select role_id from sys_role_permission_map where permission_id=#{permissionId}
    </select>
    <select id="queryPermissionsByRoleId" parameterType="java.lang.String" resultType="java.lang.String">
        select permission_id from sys_role_permission_map where role_id=#{roleId}
    </select>
    <delete id="deleteByPermissionId" parameterType="java.lang.String">
        delete from sys_role_permission_map where permission_id=#{permissionId}
    </delete>
    <delete id="deleteByRoleId" parameterType="java.lang.String">
        delete from sys_role_permission_map where role_id=#{roleId}
    </delete>
    <insert id="savePermissionRoles">
        insert into sys_role_permission_map (role_id, permission_id) values
        <foreach collection="roleIds" item="roleId" index="index" separator=",">
            (#{roleId}, #{permissionId})
        </foreach>
    </insert>
    <insert id="saveRolePermissions">
        insert into sys_role_permission_map (role_id, permission_id) values
        <foreach collection="permissionIds" item="permissionId" index="index" separator=",">
            (#{roleId}, #{permissionId})
        </foreach>
    </insert>
</mapper>