<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="svm.security.dao.UserRoleMapper">
    <select id="queryUsersByRoleId" parameterType="java.lang.String" resultType="java.lang.Long">
        select user_id from sys_user_role_map where role_id=#{roleId}
    </select>
    <select id="queryRolesByUserId" parameterType="java.lang.Long" resultType="java.lang.String">
        select role_id from sys_user_role_map where user_id=#{userId}
    </select>
    <delete id="deleteByUserId" parameterType="java.lang.Long">
        delete from sys_user_role_map where user_id = #{userId}
    </delete>
    <delete id="deleteByRoleId" parameterType="java.lang.String">
        delete from sys_user_role_map where role_id = #{roleId}
    </delete>
    <insert id="saveUserRoles">
        insert into sys_user_role_map (user_id, role_id) values
        <foreach collection="roleIds" item="roleId" index="index" separator=",">
            (#{userId}, #{roleId})
        </foreach>
    </insert>
    <insert id="saveRoleUsers">
        insert into sys_user_role_map (user_id, role_id) values
        <foreach collection="userIds" item="userId" index="index" separator=",">
            (#{userId}, #{roleId})
        </foreach>
    </insert>
</mapper>