<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="svm.app.dao.security.PermissionMapper">

    <resultMap id="BaseResultMap" type="svm.app.entity.security.Permission">
        <id column="permission_id" jdbcType="VARCHAR" property="id" />
    </resultMap>
    <sql id="BaseColumnList">
        permission_id, name, type
    </sql>

    <insert id="save" parameterType="svm.app.entity.security.Permission">
        insert into sys_permission (<include refid="BaseColumnList" />)
        values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR})
    </insert>
    <update id="update" parameterType="svm.app.entity.security.Permission">
        update sys_permission
        set name = #{name,jdbcType=VARCHAR}, type = #{type,jdbcType=VARCHAR}
        where permission_id = #{id,jdbcType=VARCHAR}
    </update>
    <delete id="delete" parameterType="java.lang.String">
        delete from sys_permission
        where permission_id = #{id,jdbcType=VARCHAR}
    </delete>
    <select id="queryPermissions" parameterType="java.lang.String" resultMap="BaseResultMap">
        select <include refid="BaseColumnList" />
        from sys_permission
        <if test="type != null and type != 'all'"> where type=#{type}</if>
         order by type, permission_id
    </select>

    <select id="getServicePermissions" parameterType="java.lang.Long" resultType="java.lang.String">
        select distinct a.permission_id
        from sys_permission a, sys_role_permission_map b, sys_user_role_map c
        where a.type='service' and a.permission_id=b.permission_id
        and b.role_id=c.role_id and c.user_id=#{userId}
    </select>
    <select id="getPagePermissions" parameterType="java.lang.Long" resultType="java.lang.String">
        select distinct a.permission_id
        from sys_permission a, sys_role_permission_map b, sys_user_role_map c
        where a.type='page' and a.permission_id=b.permission_id
        and b.role_id=c.role_id and c.user_id=#{userId}
    </select>
</mapper>