<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="svm.app.dao.security.UserMapper">

    <resultMap id="BaseResultMap" type="svm.app.entity.security.User">
        <id column="user_id" jdbcType="NUMERIC" property="id" />
    </resultMap>
    <sql id="BaseColumnList">
        user_id, name, nickname, password, create_time
    </sql>

    <insert id="save" parameterType="svm.app.entity.security.User">
        insert into sys_user (
            <include refid="BaseColumnList" />
        )
        values (
            #{id,jdbcType=NUMERIC},
            #{name,jdbcType=VARCHAR},
            #{nickname,jdbcType=VARCHAR},
            #{password,jdbcType=VARCHAR},
            #{createTime,jdbcType=DATE}
        )
    </insert>
    <update id="update" parameterType="svm.app.entity.security.User">
        update sys_user
            set name = #{name,jdbcType=VARCHAR},
                nickname = #{nickname,jdbcType=VARCHAR},
                password = #{password,jdbcType=VARCHAR},
                create_time = #{createTime,jdbcType=DATE}
            where user_id = #{id,jdbcType=NUMERIC}
    </update>
    <delete id="delete" parameterType="java.lang.Long">
        delete from sys_user
            where user_id = #{id,jdbcType=NUMERIC}
    </delete>

    <select id="get" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select <include refid="BaseColumnList" />
        from sys_user
        where user_id = #{id,jdbcType=NUMERIC}
    </select>
    <select id="getUserByName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select <include refid="BaseColumnList" />
        from sys_user
        where name = #{name,jdbcType=VARCHAR}
    </select>
    <select id="queryAllUsers" resultMap="BaseResultMap">
        select <include refid="BaseColumnList" />
        from sys_user
    </select>
</mapper>